
<div class="float-container container">
  <div class="card float-child">
    <app-apex-bar></app-apex-bar>
  </div>
  <div class="card float-child">
    <app-apex-donut></app-apex-donut>
  </div>
  <div class="card float-child">
    <app-apex-pie></app-apex-pie>
  </div>
  <div class="card float-child">
    <app-stacked-bar-vertical></app-stacked-bar-vertical>
  </div>
  <div class="card float-child">
    <app-stacked-bar-chart></app-stacked-bar-chart>
  </div>
  <div class="card float-child">
    <app-grouped-horizontal-chart></app-grouped-horizontal-chart>
  </div>
  <div class="card float-child">
    <app-stacked-horizontal-bar-chart></app-stacked-horizontal-bar-chart>
  </div>
  <div class="card float-child">
    <app-grouped-bar-chart></app-grouped-bar-chart>
  </div>
  <div class="card float-child">
    <app-grouped-horizontal-chart></app-grouped-horizontal-chart>
  </div>
  <div class="card float-child">
    <app-linechart></app-linechart>
  </div>
  <div class="card float-child">
    <app-heat-map></app-heat-map>
  </div>
</div>
