<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xAxis"
    [stroke]="chartOptions.stroke"
    [fill]="chartOptions.fill"
    [yaxis]="chartOptions.yAxis"
    [title]="chartOptions.title"
    [tooltip]="chartOptions.tooltip"
    [legend]="chartOptions.legend"
  ></apx-chart>

<!--  <apx-chart-->
<!--    [series]="getSeries()"-->
<!--    [chart]="getChart()"-->
<!--    [dataLabels]="getDataLabels()"-->
<!--    [plotOptions]="getplotOptions()"-->
<!--    [xaxis]="getXAxis()"-->
<!--    [stroke]="getStroke()"-->
<!--    [fill]="getFill()"-->
<!--    [yaxis]="getYAxis()"-->
<!--    [title]="getTitle()"-->
<!--    [tooltip]="getToolTip()"-->
<!--    [legend]="getLegend()"-->
<!--  ></apx-chart>-->
</div>
